<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shopify_account_url %><br>
    <%= f.text_field :shopify_account_url %>
  </div>
  <div class="field">
    <%= f.label :shopify_api_key %><br>
    <%= f.text_field :shopify_api_key %>
  </div>
  <div class="field">
    <%= f.label :shopify_password %><br>
    <%= f.text_field :shopify_password %>
  </div>
  <div class="field">
    <%= f.label :shopify_shared_secret %><br>
    <%= f.text_field :shopify_shared_secret %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
