<p id="notice"><%= notice %></p>

<p>
  <strong>Shopify account url:</strong>
  <%= @account.shopify_account_url %>
</p>

<p>
  <strong>Shopify api key:</strong>
  <%= @account.shopify_api_key %>
</p>

<p>
  <strong>Shopify password:</strong>
  <%= @account.shopify_password %>
</p>

<p>
  <strong>Shopify shared secret:</strong>
  <%= @account.shopify_shared_secret %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
